In [6]:
#List methods
#Append()
mylist=[1,2,3.4,5,6.9,True,False]
print(len(mylist))
mylist.append(9)
print(mylist)
mylist.append(["sanchit","Dinesh","Narayan",18,27])
print(mylist)
print(len(mylist))

7
[1, 2, 3.4, 5, 6.9, True, False, 9]
[1, 2, 3.4, 5, 6.9, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27]]
9

In [10]:
#insert method
mylist.insert(0,36)
print(mylist)

[36, 1, 36, 2, 3.4, 5, 6.9, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27]]

In [11]:
#pop
mylist.pop(3)

2

In [12]:
mylist

[36,
 1,
 36,
 3.4,
 5,
 6.9,
 True,
 False,
 9,
 ['sanchit', 'Dinesh', 'Narayan', 18, 27]]

In [13]:
#Remove method
mylist.remove(6.9)
print(mylist)

[36, 1, 36, 3.4, 5, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27]]

In [14]:
#Copy Method
List2=mylist.copy()
print(List2)

[36, 1, 36, 3.4, 5, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27]]

In [15]:
#merging
List3=["abc","xyz"]
new_list=List2+List3
print(new_list)

[36, 1, 36, 3.4, 5, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27], 'abc', 'xyz']

In [16]:
#Extend method
List3.extend(mylist)
print(List3)

['abc', 'xyz', 36, 1, 36, 3.4, 5, True, False, 9, ['sanchit', 'Dinesh', 'Narayan', 18, 27]]

In [17]:
#Clear method
new_list.clear()
print(new_list)

[]

In [21]:
#Strings 
Name="Sanchit"
print(type(Name))
print(Name.lower())
print(Name.upper())
print(Name.title())
str="My name is khan"
print(str.capitalize())
print(str.title())

<class 'str'>
sanchit
SANCHIT
Sanchit
My name is khan
My Name Is Khan

In [23]:
#Replace
str1="Gote"
str1=str1.replace("G","S")
str1

'Sote'

In [25]:
#Count method
str2="ki ki ki ki kiran"
str2.count("ki")

5

In [29]:
print(str1.startswith("S"))
print(str1.endswith("E"))

True
False

In [34]:
#split method
infor="Dinesh is Good Girl(Lesbian)"
print(infor.split())
print(infor.split("is"))

['Dinesh', 'is', 'Good', 'Girl(Lesbian)']
['Dinesh ', ' Good Girl(Lesbian)']

In [37]:
#Indexing-position of a element
str="Sanchit"
print(str[6])
print(str[-2])

t
i

In [38]:
infor

'Dinesh is Good Girl(Lesbian)'

In [40]:
#Slicing
infor[0:14]

'Dinesh is Good'

In [42]:
#slicing by position(2 step)
infor[0:14:2]

'Dns sGo'

In [45]:
clg="ICCEM"
clg==clg[::-1]

False

In [47]:
str2="madam"
str2==str2[::-1]
if str2==str[::-1]:
    print("IS a palindrome")
else:
    print("Is not palindrome")

Is not palindrome

In [52]:
#Dictionary- key value pairs
my_stu={"name":"Sanchit","Age":21}
print(len(my_stu))
print(my_stu["name"])

2
Sanchit

In [57]:
Student={
    "student1":{"name":"Ram","Age":16},
     "student2":{"name":"krushna","Age":18}}
print(Student["student2"]["name"])
print(Student["student1"]["Age"])

krushna
16

In [61]:
#Dictionary Methods
#key
Student.keys()

dict_keys(['student1', 'student2'])

In [62]:
#Values
Student.values()

dict_values([{'name': 'Ram', 'Age': 16}, {'name': 'krushna', 'Age': 18}])

In [63]:
#item method
Student.items()

dict_items([('student1', {'name': 'Ram', 'Age': 16}), ('student2', {'name': 'krushna', 'Age': 18})])

In [65]:
#set - It does not allow duplicates
#Unorder
myset={1,2,3,4,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [66]:
#set Methods
myset.add(9)
myset

{1, 2, 3, 4, 5, 6, 9}

In [67]:
#Update method
myset.update([18,27,36])
myset

{1, 2, 3, 4, 5, 6, 9, 18, 27, 36}

In [68]:
#remove Method
myset.remove(3)
myset

{1, 2, 4, 5, 6, 9, 18, 27, 36}

In [69]:
#discard
myset.discard(99)
myset

{1, 2, 4, 5, 6, 9, 18, 27, 36}

In [74]:
#Conditional Statements
#if,elif,else
x=9
if x== 9:
    print("X is equal to 09")

X is equal to 09

In [75]:
x=9
if x== 99:
    print("X is equal to 09")
else:
    print("Values not match with x")

Values not match with x

In [77]:
num=eval(input("Enter you are marks:"))
if num>=80:
    print("Grade is A")
elif num>=60:
    print("Grade is B")
elif num>=40:
    print("Grade is c")
else:
    print("Fail!...")

Enter you are marks: 100

Grade is A

In [5]:
#atm
username = input("Enter your username: ")
if username == "sanchit":
    print("Welcome Sanchit")
    password = int(input("Enter your password: "))
    if password == 909:
        print("UNLOCKED")
    else:
        print("Incorrect password")
else:
    print("Enter correct username")

Enter your username:  sanchit

Welcome Sanchit

Enter your password:  909

UNLOCKED